{<<"links">>,
 [{<<"GitHub">>,<<"https://github.com/greetingsfellowhumans/sorcery">>}]}.
{<<"name">>,<<"sorcery">>}.
{<<"version">>,<<"0.4.14">>}.
{<<"description">>,
 <<"A framework which rethinks how data flows, and how we build apps.">>}.
{<<"elixir">>,<<"~> 1.16">>}.
{<<"app">>,<<"sorcery">>}.
{<<"licenses">>,[<<"MIT NO AI">>]}.
{<<"requirements">>,
 [[{<<"name">>,<<"stream_data">>},
   {<<"app">>,<<"stream_data">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 0.6.0">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"ecto">>},
   {<<"app">>,<<"ecto">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 3.11.2">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"ecto_sql">>},
   {<<"app">>,<<"ecto_sql">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 3.11.1">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"postgrex">>},
   {<<"app">>,<<"postgrex">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<">= 0.0.0">>},
   {<<"repository">>,<<"hexpm">>}]]}.
{<<"files">>,
 [<<"lib">>,<<"lib/mix">>,<<"lib/mix/tasks">>,
  <<"lib/mix/tasks/sorcery.init.ex">>,<<"lib/services">>,
  <<"lib/services/gen_server_helpers">>,
  <<"lib/services/gen_server_helpers/entry.ex">>,<<"lib/services/helpers">>,
  <<"lib/services/helpers/entry.ex">>,<<"lib/services/helpers/ets.ex">>,
  <<"lib/services/helpers/files.ex">>,<<"lib/services/helpers/names.ex">>,
  <<"lib/services/helpers/maps.ex">>,<<"lib/services/killbot">>,
  <<"lib/services/killbot/entry.ex">>,<<"lib/services/live_helpers">>,
  <<"lib/services/live_helpers/entry.ex">>,<<"lib/services/mutation">>,
  <<"lib/services/mutation/schema_mutation.ex">>,
  <<"lib/services/mutation/parent_mutation.ex">>,
  <<"lib/services/mutation/children_mutation.ex">>,
  <<"lib/services/mutation/diff.ex">>,<<"lib/services/mutation/temp.ex">>,
  <<"lib/services/mutation/mutation.ex">>,
  <<"lib/services/mutation/pre_mutation.ex">>,
  <<"lib/services/portal_server">>,<<"lib/services/portal_server/commands">>,
  <<"lib/services/portal_server/commands/portal_put.ex">>,
  <<"lib/services/portal_server/commands/mutation_failed.ex">>,
  <<"lib/services/portal_server/commands/mutation_success.ex">>,
  <<"lib/services/portal_server/commands/create_portal.ex">>,
  <<"lib/services/portal_server/commands/run_mutation.ex">>,
  <<"lib/services/portal_server/commands/portal_merge.ex">>,
  <<"lib/services/portal_server/entry.ex">>,
  <<"lib/services/portal_server/inner_state.ex">>,
  <<"lib/services/portal_server/portal.ex">>,<<"lib/services/query">>,
  <<"lib/services/query/entry.ex">>,<<"lib/services/query/find.ex">>,
  <<"lib/services/query/tk_query.ex">>,<<"lib/services/returned_entities">>,
  <<"lib/services/returned_entities/entry.ex">>,<<"lib/services/schema">>,
  <<"lib/services/schema/ecto">>,
  <<"lib/services/schema/ecto/castable_fields.ex">>,
  <<"lib/services/schema/ecto/ecto_schema.ex">>,
  <<"lib/services/schema/field_type">>,
  <<"lib/services/schema/field_type/boolean.ex">>,
  <<"lib/services/schema/field_type/fk.ex">>,
  <<"lib/services/schema/field_type/integer.ex">>,
  <<"lib/services/schema/field_type/list.ex">>,
  <<"lib/services/schema/field_type/map.ex">>,
  <<"lib/services/schema/field_type/string.ex">>,
  <<"lib/services/schema/field_type/decimal.ex">>,
  <<"lib/services/schema/field_type/float.ex">>,
  <<"lib/services/schema/field_type/field_type.ex">>,
  <<"lib/services/schema/generation">>,
  <<"lib/services/schema/generation/generation.ex">>,
  <<"lib/services/schema/entry.ex">>,<<"lib/services/sorcery_db">>,
  <<"lib/services/sorcery_db/inspection.ex">>,
  <<"lib/services/sorcery_db/mnesia_adapter.ex">>,
  <<"lib/services/sorcery_db/schema_adapter.ex">>,
  <<"lib/services/sorcery_db/query.ex">>,
  <<"lib/services/sorcery_db/entry.ex">>,
  <<"lib/services/sorcery_db/reverse_query.ex">>,
  <<"lib/services/store_adapter">>,<<"lib/services/store_adapter/ecto">>,
  <<"lib/services/store_adapter/ecto/entry.ex">>,
  <<"lib/services/store_adapter/ecto/mutation">>,
  <<"lib/services/store_adapter/ecto/mutation/mutation.ex">>,
  <<"lib/services/store_adapter/ecto/query">>,
  <<"lib/services/store_adapter/ecto/query/build_multi.ex">>,
  <<"lib/services/store_adapter/ecto/query/query.ex">>,
  <<"lib/services/store_adapter/ecto/thread.ex">>,
  <<"lib/services/store_adapter/entry.ex">>,<<"lib/services/errors">>,
  <<"lib/services/errors/no_portal.ex">>,<<"lib/sorcery.ex">>,
  <<"lib/application.ex">>,<<"priv">>,<<"priv/repo">>,
  <<"priv/repo/migrations">>,
  <<"priv/repo/migrations/20240413024036_demo.exs">>,
  <<"priv/repo/seeds.exs">>,<<".formatter.exs">>,<<"mix.exs">>,
  <<"README.md">>,<<"LICENSE.md">>,<<"CHANGELOG.md">>]}.
{<<"build_tools">>,[<<"mix">>]}.
